<style>
.impact-banner {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 0 0px 8px 1px rgba(100,100,100, 0.2);
    display: none;
}
.impact-banner h3{
    margin: 0;
    font-size: 1.3rem;
}
</style>
<div class="impact-banner hidden">
    <h3 id="796093"><a href="https://pluralsight.pxf.io/c/1658967/796093/7490">Pluralsight - Learn for FREE all April</a></h3>
<img height="0" width="0" src="//pluralsight.pxf.io/i/1658967/796093/7490" style="position:absolute;visibility:hidden;" border="0" />
</div>
