<div class="notification" id='subscribe-notification'>
    <div class="notification-content">
        <p>Hey There! You have made it this far.</p>
        <p>Would you like to subscribe via email?</p>
    </div>
    <div class="notification-footer">
        <button id='yes'>Yes Please!</button>
        <button id='no'>I'm Good.</button>
    </div>
</div>
<style>
.notification {
    color: var(--darkgrey);
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 320px;
    min-width: 300px;
    border: 5px solid rgb(108 189 233);
    background-color: #fff;
    padding: 0.75rem 1rem;
    z-index: 10000;
    border-radius: 0.75rem;
    transition: all ease 500ms;
    box-shadow: 0 0 25px 5px rgba(100, 100, 100, 0.45);
}
.notification-content p {
    margin-bottom: 0;
}
.notification.active {
	bottom: 10px;
}
.notification-content {
    margin-bottom: 0.5em;
}
.notification-footer button {
    margin: 0 0.25em;
    flex: 1 auto;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    background: var(--blue);
    color: #fff;
    transition: all ease 200ms;
}
.notification-footer button#no {
    background: var(--whitegrey);
    color: var(--midgrey);
}
.notification-footer button#no:hover {
    transform: scale(0.95);
}
.notification-footer button#yes:hover {
    transform: scale(1.05);
    background: var(--pink);
}
.notification-footer {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 -0.25em;
}
</style>
<script>
var subscribePortal = '#/portal';
var timeoutForNotification = 20000
document.addEventListener('DOMContentLoaded', function() {
    const notification = document.querySelector('#subscribe-notification')
    const toggleNotification = function() {
        notification.classList.toggle('active')
    }
    notification && setTimeout(function() {
        var subStatus = storage.getItem('sub'); // start, success, abort, confirmed
        if (['success', 'confirmed'].includes(subStatus)) {
          return
        }
        if (window.location.hash === '#/portal') {
            return
        }
        toggleNotification()
        ga && ga('send', 'event', {
            eventCategory: 'Notification',
            eventAction: 'notification_seen'
        });
        window.splitbee && window.splitbee.track('NotificationSeen')
    }, timeoutForNotification);
    const yes = document.querySelector('#yes')
    const no = document.querySelector('#no')

    yes && yes.addEventListener('click', function () {
        toggleNotification()
        const loc = window.location;
        window.location.href = loc.origin + loc.pathname + subscribePortal;
        ga && ga('send', 'event', {
            eventCategory: 'Notification',
            eventAction: 'notification_yes'
        });
        window.splitbee && window.splitbee.track('NotificationYes')
    })
    no && no.addEventListener('click', function () {
        toggleNotification()
        ga && ga('send', 'event', {
            eventCategory: 'Notification',
            eventAction: 'notification_no'
        });
        window.splitbee && window.splitbee.track('NotificationNo')
    })
})
</script>
