<!--
<form action="https://time2hack.us17.list-manage.com/subscribe/post?u=b0ed6809d8d0d40901d1ee559&amp;id=388aca6a35" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group">
        <input type="email" name="EMAIL" class="subscribe-email" placeholder="youremail@example.com" required aria-label="Your Email">
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_b0ed6809d8d0d40901d1ee559_388aca6a35" tabindex="-1" value="">
    </div>

    <button class="" type="submit"><span>Subscribe</span></button>
</form>
-->
<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
    <p class="subscribe-form-description">Get the latest posts delivered right to your inbox</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            Please enter a valid email address!
        </div>
    </form>
</section>
