<style>

.page-spread .tweet {
    text-align: center;
    background: #fafafa
}

.page-spread .tweet .tw-card {
    border-radius: 5px;
    background-color: #fafafa;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    outline: 0
}

.page-spread .tweet .tw-card .tw-card__text {
    font-size: 1.389em;
    min-height: 56%
}

@media (min-width: 576px) {
    .page-spread .tweet .tw-card {
        box-shadow:0 20px 40px -20px rgba(0,0,0,0.15);
        background: white;
        padding: 2em
    }
}

.page-spread .tweet .tw-slider {
    padding-top: 50px
}

.page-spread .tweet .tw-slider .slider__window {
    width: auto
}

@media (min-width: 992px) {
    .page-spread .tweet .tw-slider {
        padding-top:0
    }
}

.page-spread .tweet .tw-nav {
    margin-top: 28px
}

.page-spread .tweet .slider__arrow {
    display: none
}

@media (min-width: 992px) {
    .page-spread .tweet .marketing__btn {
        margin-left:initial
    }
}

.page-spread .tweet .tweet__intro {
    z-index: 1
}

@media (min-width: 992px) {
    .page-spread .tweet .tweet__btn {
        width:100%
    }
}
</style>
<div class="tw-card bg-clr--white js-tw-card is-first is-active" aria-hidden="false" tabindex="-1">
    <div class="tw-card__header"><a href="https://twitter.com/wasee292" class="tw-card__link"><img
                src="https://images.duckduckgo.com/iu/?u=https://pbs.twimg.com/profile_images/1110465265794351111/AWWs4PCo_normal.jpg&amp;f=1"
                class="tw-card__avatar" alt="User wasee292's avatar"></a>
        <div class="t-left"><a href="https://twitter.com/wasee292"
                class="tw-card__name tw-card__link t-bold">wasee292</a><a href="https://twitter.com/wasee292"
                class="tw-card__username tw-card__link">@wasee292</a></div><img
            src="/assets/common/slider/twitter-logo.svg" class="tw-card__logo" alt="Twitter Logo">
    </div>
    <div class="tw-card__text">Let not anybody else own your data. <a class="tweet-url username"
            href="https://twitter.com/DuckDuckGo" data-screen-name="DuckDuckGo" rel="nofollow">@DuckDuckGo</a> is great
        with the <a href="https://twitter.com/search?q=%23bangs" title="#bangs" class="tweet-url hashtag"
            rel="nofollow">#bangs</a> 💝 &amp; lot many other features.
        <a href="https://twitter.com/search?q=%23ComeToTheDuckSide" title="#ComeToTheDuckSide" class="tweet-url hashtag"
            rel="nofollow">#ComeToTheDuckSide</a></div>
    <div class="tw-card__footer"><a href="https://twitter.com/intent/tweet?in_reply_to=1012644760228511744"
            data-wrapped="true" class="tw-card__link tw-card__action js-tweet-action" aria-label="Reply to this tweet"
            title="Reply to this tweet"><img src="/assets/common/slider/twitter-reply.svg" aria-hidden="true"></a><a
            href="https://twitter.com/intent/retweet?tweet_id=1012644760228511744" data-wrapped="true"
            class="tw-card__link tw-card__action js-tweet-action" aria-label="Retweet button"
            title="Retweet button"><img src="/assets/common/slider/twitter-retweet.svg" aria-hidden="true"></a><a
            href="https://twitter.com/intent/like?tweet_id=1012644760228511744" data-wrapped="true"
            class="tw-card__link tw-card__action js-tweet-action" aria-label="Like button" title="Like button"><img
                src="/assets/common/slider/twitter-like.svg" aria-hidden="true"></a><a
            href="https://twitter.com/wasee292/status/1012644760228511744"
            class="tw-card__date tw-card__link t-bold">Fri Jun 29</a></div>
</div>
